extends ../layout

block append body
    .container.theme-showcase(role='main')



        .page-header
            h3 Saisir une nouvelle ligue:

        .jumbotron
            form(method='POST' action='ajouter')
                div.form-group
                    label(for='nom') Nom de la ligue:
                    input#nom.form-control(type='text', placeholder='Nom de la ligue' name='nom')
                div.form-group
                    label(for='adresse') Adresse:
                    input#adresse.form-control(type='text', placeholder='Nom de rue' name='adresse')
                div.form-group
                    label(for='ville') Ville:
                    input#ville.form-control(type='text', placeholder='Nom de la ville' name='ville')
                div.form-group
                    label(for='cp') Code postal:
                    input#cp.form-control(type='int', placeholder='Numéro du code postal' name='cp')
                div.form-group
                    label(for='courriel') Courriel:
                    input#courriel.form-control(type='email', placeholder='adresse@mail.domaine' name='courriel')
                div.form-group
                    label(for='tel') Téléphone:
                    input#tel.form-control(type='int', placeholder='Numéro de téléphone' name='tel')
                button.btn.btn-primary(type='submit') Valider