extends ../layout

block append body

    style.
        th, td {
            padding: 10px;
        }

        table, select {
            width: 100%;
        }

    .container.theme-showcase(role='main')



        .page-header
            h3 Saisir une prestation d'affranchissement:

        .jumbotron
            form(method='POST' action='creer')
                div.form-group
                    label Nom de la ligue:
                    br
                    select(name='idligue')
                        each laLigue in listLigue
                            option(value=laLigue.id) #{laLigue.nom}

                div.form-group
                    label Type d'affranchissement:
                    br
                    select(name='idTypeAffr')
                        each leTypeAffr in typeAffr
                            option(value= leTypeAffr.id) #{leTypeAffr.libelle}

                div.form-group
                    label Quantité d'affranchissements:
                    br
                    input#qteAffr.form-control(type='int', placeholder="Quantité d'affranchissement" name='qteAffr')

                div.form-group
                    button.btn.btn-primary(type='submit') Valider